<post
   title="Lawvere theories and monads"
   date="2014/07/29"
   last-updated="2014/07/30"
   published="true"
   author="Pierre Dagand"
   topics="agda"
   keywords="agda,lawvere theories,monads"

   disqus-id="lawvere-theories-and-monads"
   rss-id="http://gallium.inria.fr/blog/lawvere-theories-and-monads"
>

<markdown>
In [this Agda file](http://gallium.inria.fr/~pdagand/stuffs/notes/Monad.agda),
I give an introduction to Lawvere theories and Monads. It's not exactly a
"gentle" introduction because:

1. I'm still trying to grok these things myself,
2. I've to live up to my reputation of writing unfathomable gagaposts.

We'll start with the State monad and, briefly, a Tick monad. The
game is the following: I'll present them syntactically -- through a
signature -- and semantically -- through a collection of
equations. I'll then show how the usual monad is related to this
presentation.
</markdown>

<sep_/>

<!-- compile with "make BoveReloaded.html" -->
<style type="text/css">
  <include file="./Agda.css" raw="true" />
</style>
<include file="./Monad.html.raw.html" />
</post>
