<post
   title="The future is now: Mezzo is available on OPAM"
   date="2013/12/17"
   published="true"
   author="Jonathan Protzenko"
   topics="mezzo"
   keywords="opam"

   disqus-id="mezzo-on-opam"
   rss-id="http://gallium.inria.fr/blog/mezzo-on-opam"
>
<markdown>
It is my pleasure to announce that Mezzo, the language of the future,
is now installable via OPAM. This required quite a bit of packaging
work, and I'm no ocamlfind / Makefile guru, so if it doesn't work on
your machine, or I used something that's not portable, please do let me
know!
</markdown>

<sep_/>

<markdown args="--shift-heading-level-by=1"><![CDATA[
To start hacking in Mezzo, just type:

    opam install mezzo

This will install the mezzo binary, the mezzo runtime library, and the
mezzo core and standard libraries. We also provide an Ocamlbuild plugin
that makes your life easier when starting a new project.

A sample project is available at
<https://github.com/protz/mezzo-sample-project/>; it uses the new
`-plugin-tag` option (OCaml 4.01.0) for ocamlbuild, meaning that you
don't have to copy/paste the voodoo incantations that will tell
ocamlbuild how to generate ml files out of mz files.

There's not much in terms of sample programs except for [the standard
library](https://github.com/protz/mezzo/tree/master/stdlib) which is,
fortunately, heavily commented.

An (unfinished) tutorial is available at
<http://protz.github.io/mezzo/tutorial/>
([html](http://protz.github.io/mezzo/tutorial/tutorial.html.pp.html),
[pdf](http://protz.github.io/mezzo/tutorial/tutorial.latex.pp.pdf));
it is by no means perfect, but well, that's all I have to offer for
now. I'm still planning on trying to improve the error messages spat
out by the compiler, but right now, it's quite a bit of a mess. The
tutorial has a section about deciphering error messages, though.

Happy hacking!

PS: I should add that there is currently no tutorial on interfacing
OCaml and Mezzo. There are still some rough edges: because of our
compilation scheme, the Mezzo list::list type doesn't exactly match
OCaml's list type, which is kinda embarrassing. Until that's fixed,
I'll probably put the OCaml/Mezzo part on hold, and blog about it
later.
]]></markdown>
</post>
