/*

	Nonzero1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	missing in a maze
*/

#ga2 { color: @salmon; }

/* This controls the width of the fluid width layouts */

.fluid
{
width: 90% !important;
}

/* This controls the width of the fixed width layouts */

.fixed
{
width: 1050px !important;
}

/* Basic Stuff */

*
{
    margin: 0em;
    padding: 0em;
}

body
{
    background-color: #fff;
    color: #585858;
    font-size: 12pt;
    font-family: "trebuchet ms", helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
    letter-spacing: -1px;
    /*text-transform: lowercase;*/
}

h2,h3,h4,h5,h6
{
color: @deepRed;
}

br.clear
{
clear: both;
}

img
{
    padding: 3px;
    /* border: solid 1px #e1e1e1; */
}

/* disable padding for latex-produced images that may be inline in text */
img.latex
{
   padding: 0px;
   margin-bottom: -0.2em;
}

img.floatTL
{
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

a
{
    text-decoration: underline;
    color: @linkColor;
}

a:hover
{
    text-decoration: none;
    color: @linkColorHover;
}

dd
{
    margin-left: 2em;
}


ul.links
{
    list-style: none;
}

ul.links li
{
    line-height: 2em;
}

ul.links li.first
{
}

p
{
    line-height: 1.8em;
}

ul
{
    line-height: 1.8em;
}

/* Header */

#header
{
    width:100%;
    height:122px;
    background: #440000 url('http://gallium.inria.fr/images/n1.gif') repeat-x;
}

#header_inner
{
    position: relative;
    width: 950px;
    height:122px;
    margin: 0 auto;
}

/* Logo */

#logo
{
    position: absolute;
    bottom: 0.6em;
}

#logo h1
{
    display: inline;
    color: #fff;
    font-size: 2.6em;
    font-weight: bold;
}

#logo h2
{
    display: inline;
    padding-left: 0.5em;
    color: #E5CCD0;
    font-size: 1.0em;
}

/* Menu */

#menu
{
    position: absolute;
    right: 0em;
    bottom: 0em;
}

#menu ul
{
    list-style: none;
}

#menu li
{
    float: left;
}

#menu li a
{
    margin-left: 0.5em;
    display: block;
    padding: 1.1em 1.4em 1.0em 1.4em;
    background: #fff url('http://gallium.inria.fr/images/n4.gif') repeat-x;
    border: solid 1px #fff;
    color: #616161;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: lowercase;
    text-decoration: none;
}

#menu li a.active
{
    background: #CA2F2F url('http://gallium.inria.fr/images/n3.gif') repeat-x;
    color: #fff;
    border: solid 1px #A94B4B;
}

/* Main */

#main
{
    background: #fff url('http://gallium.inria.fr/images/n2.gif') 0px 1px repeat-x;
}

#main_inner p
{
    text-align: justify;
    margin-bottom: @parMargin;
}

#main_inner ul
{
    margin-bottom: 2.0em;
}

#main_inner
{
    position: relative;
    width: 950px;
    margin: 0 auto;
    padding-top: 3.5em; /* px; the height of #main's background */
}

#main_inner h2,h3,h4
{
    border-bottom: dotted 1px @sectionSepColor;
    position: relative;
}

#main_inner h2
{
    font-size: 2.1em;
    padding-bottom: 0.1em;
}

#main_inner h3
{
    font-size: 1.6em;
    padding-bottom:0.1em;
}

#main_inner h4
{
    font-size: 1.2em;
    padding-bottom: 0.175em;
    margin-top: 0.95em;
}

#main_inner h5
{
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}

#main_inner .post
{
    position: relative;
}

.article-item
{
    margin-bottom: 2em;
}

.article-title
{
    position: relative;
    font-size: 1.7em;
}

a.intitle {
    color: inherit;
}
h1 a.intitle, #article a.intitle {
    text-decoration: none;
}

#main_inner .post ul.post_info
{
    list-style: none;
    font-size: 0.8em;
}

#main_inner .post ul.post_info li
{
    background-position: 0em 0.2em;
    background-repeat: no-repeat;
    display: inline;
    padding-left: 18px;
}

#main_inner .post ul.post_info li.date
{
    background-image: url('http://gallium.inria.fr/images/n5.gif');
}

#main_inner .post ul.post_info li.comments
{
    background-image: url('http://gallium.inria.fr/images/n6.gif');
    margin-left: 1.1em;
}

/* Footer */

#footer li {
    display: inline;
    list-style-type: none;
    padding-right: 3em;
}

#footer
{
width: 950px;
margin: 0 auto;
text-align: center;
clear: both;
border-top: dotted 1px #E1E1E1;
margin-top: 1.0em;
margin-bottom: 1.0em;
padding-top: 1.0em;
text-transform: lowercase;
}

/* Search */

input.button
{
background: #CA2F2F url('http://gallium.inria.fr/images/n3.gif') repeat-x;
color: #fff;
border: solid 1px #A94B4B;
font-weight: bold;
text-transform: lowercase;
font-size: 0.8em;
height: 2.0em;
}

input.text
{
border: solid 1px #F1F1F1;
font-size: 1.0em;
padding: 0.25em 0.25em 0.25em 0.25em;
}

#search
{
position: relative;
width: 100%;
margin-bottom: 2.0em;
}

#search input.text
{
position: absolute;
top: 0em;
left: 0em;
width: 9.5em;
}

#search input.button
{
position: absolute;
top: 0em;
right: 0em;
min-width: 2.0em;
max-width: 2.5em;
}

/* Primary content */
#section
{
    position: relative;
    margin-right: 17em;
}

#section_inner
{
    position: relative;
    float: left;
    width: 100%;
    margin-right: -17em;
    padding-right: 2em;
}

/* Secondary Content */
#aside
{
    width: 13em;
    float: right;
    padding: 0em 0em 0.5em 2em;
    border-left: dotted 1px #E1E1E1;
}
