// navbar:  overriding some of navbar.less
.navbar {
  .brand {
    font-size: 13px ;
    padding-top: 5px;
    padding-left: 24px;
    font-weight: bold;
   }
  a.brand { text-decoration: none ; }

}

.navbar-fixed-top .navbar-inner {
  height: @navbarHeight;
  padding-top: 4px;
  }

.navbar .nav > li  {
  margin-top: 6px;line-height: 10px;
}

.navbar .nav > li > a  {
  line-height: 10px;
}

div.article-navbar {
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid ;
  border-color: #DDDDDD ;
  padding-bottom: 0.5em;
  text-align: justify;
  overlfow: auto;
  height: 20px;
  }

div.navleft {
  position: relative;
  float: left;
  background-image: url('left.png') ;
  background-repeat: no-repeat;
  background-position:left top;
  padding-left: 18px;
}

div.navright {
  position: relative;
  float: right;
  text-align: right ;
  background-image: url('right.png') ;
  background-repeat: no-repeat;
  background-position:right top;
  padding-right: 18px;
}
