<index
  main="true"
  title="Gagallium"
  stog-site-title="Gagallium"
  stog-site-description="A draft blog at Gallium"
  stog-site-email="francois.pottier@inria.fr"
  stog-site-url="http://gallium.inria.fr/blog/"
  stog-rss-length="10"
>
<header>
<markdown>A blog at [Cambium][]: informal posts about research,
programming practice, [OCaml][] development, and general ramblings.

[cambium]: http://cambium.inria.fr
[ocaml]: http://caml.inria.fr/
</markdown>
</header>
<elements type="post" rss="index.rss" max="10"/>
</index>
