<post
   title="The Chinese restaurants of Gallium"
   date="2014/01/29"
   last-updated="2014/01/30"
   published="true"
   author="Jonathan Protzenko"
   topics="food"
   keywords="restaurants,place d'italie,chinatown"

   disqus-id="asian-restaurants-in-paris-chinatown"
   rss-id="http://gallium.inria.fr/blog/asian-restaurants-in-paris-chinatown"
>

<markdown>
As some of you may know, we have a shared office in Paris. This means on
Wednesdays and Thursdays, a chunk of the team works at [Place
d'Italie](https://maps.google.com/maps?q=place+d%27italie%2C+paris). For those
of you who don't know the area, Place d'Italie is on the fringe of Paris'
Chinatown. Two members of the team live (or have been living) in the area,
meaning that we developed quite a flair for good Chinese restaurants (see [the
(incomplete) map of the places I have tried
out](http://goo.gl/maps/K4Mtg) for instance).

We thus happily present our list of favorite restaurants. These are not classy,
well-designed, western-looking restaurants. They're rather the obscure, hidden,
ridiculously small restaurants filled with Chinese people and where the
waitresses barely speak French and the chef shouts orders in Chinese from the
kitchen. Most of these restaurants serve one of the eight major Chinese [cuisine
styles](http://en.wikipedia.org/wiki/Chinese_cuisine), and have relatively small
menus. In case you're visiting us, or just want to try out any of these, we hope
that the list may be useful!
</markdown>

<sep_/>

<markdown args="--shift-heading-level-by=1"><![CDATA[
Please note that the list also contains other, non-Chinese, south-east
Asian restaurants, since the area is not limited to the Chinese
community.

As for the price tag, Asian restaurants in Chinatown are not expensive --
sensibly less than good French cuisine restaurants. You can expect
a full meal between €15 and €20, with even cheaper lunch options.

[Autour du Yangtse](http://goo.gl/maps/y2UsF)
---------------------------------------------

This one is our current winner. The mere evocation of the lamb dumplings has us
all watering our mouths, and it's conveniently located 30 meters away from the
office. It's a very small restaurant, and they serve typical cuisine from the
Yangtze basin. They have a card with specialties that they renew quite often, so
picking dishes that are listed on the black board is generally a good idea.
We've had tremendous success with the following (where « ravioli » is dumpling):
« raviolis de mouton, raviolis vapeur (their specialty: homemade, they're
delicious!), poulet impérial, aubergines ». I'm a huge fan of dumplings, and
this is the only decent place I know in Paris that serves homemade, proper
[Xiaolongbao](http://en.wikipedia.org/wiki/Xiaolongbao) (southern-style
dumplings). If you check the map of the restaurants I've tried out, you know
I've been searching.


[Tian Tian Wang](http://goo.gl/maps/nh1Na)
------------------------------------------

This one is a little further away, but has many unique features, such as being
open until late at night and having two, not advertised, karaoke rooms
downstairs, where you'll hear Chinese pop sung until late. The cuisine is
typical [Sichuan cuisine](http://en.wikipedia.org/wiki/Sichuan_cuisine), meaning
spicy, flavourful dishes. Their absolute specialty is the mutton skewers, you
should get a lot of them to start with.  Some winner dishes include: «
aubergines à la sauce yu xiang, tofu froid avec les œufs de cent ans, porc avec
crêpes, brochettes de mouton ».


[Raviolis chinois](http://goo.gl/maps/R5w1o)
--------------------------------------------

(The Google Street View imagery is wrong, the restaurant now has a terrible,
pink logo that you can't possibly miss.)

This small outlet opened recently. Being a big dumpling fan, and after seeing
them prepare the dumplings themselves every night when going from the metro to my
place, I finally decided to give it a try. I've taken all of my friends there,
and I've been going on average at least once a week since. When I was on
exchange living in Singapore, I would benchmark all the dumpling places to find
the best ones, and last time I was in Beijing, I tried out several dumpling
restaurants. I can guarantee that these people prepare
[Jiaozi](http://en.wikipedia.org/wiki/Jiaozi) (northern-style
ravioli) to absolute perfection. Their cuisine is from the Liaoning region, and
I think the chef is from Dalian.


[Pho Tai](http://goo.gl/maps/7GHZA)
-----------------------------------

A Vietnamese one, which serves, in my humble opinion, the best Bo Bun in the
13th arrondissement. The people are real nice; the restaurant is just downstairs
from my place, and has been my "cantina" for quite a while. The Bo Bun is dirt
cheap, but some other excellent dishes include « poulet croustillant, bun sun »
as well as their milk-shakes which I can't stop raving about.

 

Here are two additional recommendations by Gabriel.

[Sala Thai](https://plus.google.com/115860887159940028925/about)
----------------------------------------------------------------

An excellent thai restaurant. The two-persons menus are huge (it's not
at all unreasonable for a third guest to take just a starter, and
share the menu), and the shrimp soup a memorable starter. Some dishes
can be spicy/hot, so you should ask the waiters if you're not
comfortable with it. They also have nice deserts, which is not that
common in asian restaurants: their Durian ice-cream is probably the
gentlest way to discover this [mighty
fruit](http://en.wikipedia.org/wiki/Durian).

[Piment d'Or](https://plus.google.com/116267604738508819073/about)
------------------------------------------------------------------

This vietnamese restaurant doesn't look like much, but it has various
fairly authentic dishes. The raw beef salad in lemon juice is
refreshing, and I'm always amused by the taro soup's vibrant violet
colour.

 

While I (Jonathan) am all happy writing about my favorite restaurants,
allow me to mention a few others that are really outstanding but
possibly a little bit further away.


[Délices du Shandong](http://goo.gl/maps/g4HW9)
-----------------------------------------------

This one serves [cuisine from the Shandong
region](http://en.wikipedia.org/wiki/Shandong_cuisine). It's been quite a while
since I last went, but it definitely stands above the average in terms of
quality and consistency of the dishes.


[La Taverne de Zhao](http://goo.gl/maps/Kt2Ps)
----------------------------------------------

I still can't decide whether this one or « Autour du Yangtze » is my favorite
Chinese restaurant in Paris. Also ridiculously small, it serves cuisine from the
Xi'an region (the chef is from there). They have delicious bread loafs with meat
inside, which is a local specialty. More original dishes include
[platycodon](http://en.wikipedia.org/wiki/Platycodon_grandiflorus) roots,
jellyfish salad, all of which are excellent. Their noodles are also exceptional.


[Guan guan yuan](http://goo.gl/maps/VUBMo)
------------------------------------------

This one serves cuisine from the Yunnan region, and features traditional dishes
such as [crossing the bridge
noodles](http://en.wikipedia.org/wiki/Crossing_the_bridge_noodles). You get
a big hotpot with meat, vegetables and a quail egg that you cook yourself. Quite
the experience.
]]></markdown>
</post>
