<post
   title="Happy new year 2014 from Gagallium!"
   date="2014/01/07"
   last-updated="2014/01/08"
   published="true"
   author="Gabriel Scherer"
   topics="greetings"
   keywords="gallium"

   disqus-id="happy-new-year-2014"
   rss-id="http://gallium.inria.fr/blog/happy-new-year-2014"
>
<markdown>
It seemed fitting to begin this new year with greetings to all our
beloved readers, before the flood of new posts that will inevitably
conquer the world, again.
</markdown>

<sep_/>

<markdown args="--shift-heading-level-by=1"><![CDATA[
Sadly, we don't have anything as great as the [OCamllabs 2013
retrospective](http://www.cl.cam.ac.uk/projects/ocamllabs/news/index.html#Dec%202013)
to give you -- I hear there is also an OCamlPro version in the
making. As a research group, we actually publish a kind of
retrospective called "Rapport d'Activité". It could be considered
boring administrative duty, but is in fact conducted by Xavier with
surprising and laudable care. The deadline for the 2013 report is this
month, so he's getting increasingly threatening but we have nothing
to show you for now. If you are curious about what it looks like, feel
free to go get mesmerized by our [2012 activity
report](http://raweb.inria.fr/rapportsactivite/RA2012/gallium/uid0.html).

On a suggestion by Jonathan, I asked members of Gallium (those that
could be contacted by press time) to at least summarize "their
professional 2013" in one sentence.

- Thibaut Balabonski: "Coq, concurrency in Mezzo,
  pattern calculus in Brasília, more Coq"
- Arthur Charguéraud: "used OCaml to run an inefficient
   but formally-proved correct JavaScript interpreter"
- Pierre Dagand: "Writing in Paris <em>blink</em> Coq/x86 in Cambridge
  <em>blink</em> LICS in New Orleans <em>blink</em> Viva in Glasgow
  <em>blink</em> Gaga in Rocquencourt!"
- Damien Doligez: "release TLA+, release OCaml, release TLA+ (again)"
- Jacques-Henri Jourdan: "Formalizations in Coq : abstract
  interpretation, floating point numbers, hash-consing &
  memoization"
- Fabrice Le Fessant: "2013 for me: the return to the source"
- Xavier Leroy: "CompCert grows a new register allocator, 64-bit
  integers, and some nontrivial static analyses"
- François Pottier: "Lots of Mezzo, lots of Coq"
- Jonathan Protzenko: "Mezzo, implementation, writing, ICFP paper"
- Gabriel Scherer: "Picking a PhD topic and working on it!"

We hope your past year was as fulfilling or more (than, at least, floating
point formalization in Coq), and that the next will be even better.
]]></markdown>
</post>
