<post
   title="Two final versions and a Verasco release"
   date="2014/11/03"
   published="true"
   author="Jacques-Henri Jourdan"
   topics="compcert"
   keywords="coq,float,verasco,static analysis,abstract interpretation"
   disqus-id="papers-and-verasco"
   rss-id="http://gallium.inria.fr/blog/papers-verasco"
>

<markdown>
We have just submitted the final version of two papers, presenting the
state of our recent research.
<ul>
<li><a href="http://cristal.inria.fr/~xleroy/publi/verasco-popl2015.pdf">A Formally-Verified C Static Analyzer</a>, by
Jacques-Henri Jourdan, Vincent Laporte, Sandrine Blazy, Xavier
Leroy, and David Pichardie
</li>
<li>
<a href="http://gallium.inria.fr/~xleroy/publi/floating-point-compcert.pdf">Verified
compilation of floating-point computations</a>, by
Sylvie Boldo, Jacques-Henri Jourdan, Xavier Leroy, and Guillaume
Melquiond
</li>
</ul>
</markdown>

<sep_/>

<div>
<h3><a href="http://cristal.inria.fr/~xleroy/publi/verasco-popl2015.pdf">A Formally-Verified C Static Analyzer</a></h3>
<p>Jacques-Henri Jourdan, Vincent Laporte, Sandrine Blazy, Xavier
Leroy, and David Pichardie, at POPL'15</p>

<blockquote>This paper reports on the design and soundness proof, using the Coq
proof assistant, of Verasco, a static analyzer based on abstract
interpretation for most of the ISO C 1999 language (excluding
recursion and dynamic allocation). Verasco establishes the absence of
run-time errors in the analyzed programs. It enjoys a modular
architecture that supports the extensible combination of multiple
abstract domains, both relational and non-relational. Verasco
integrates with the CompCert formally-verified C compiler so that not
only the soundness of the analysis results is guaranteed with
mathematical certitude, but also the fact that these guarantees carry
over to the compiled code.</blockquote>

<p>This work lead to
the <a href="http://compcert.inria.fr/verasco/">first release of
Verasco</a>, which is slowly (but surely) taking shape !</p>

<h3><a href="http://gallium.inria.fr/~xleroy/publi/floating-point-compcert.pdf">Verified
compilation of floating-point computations</a></h3>

<p>Sylvie Boldo, Jacques-Henri Jourdan, Xavier Leroy, and Guillaume
Melquiond, in the Journal of Automated Reasoning</p>

<blockquote>Floating-point arithmetic is known to be tricky: roundings,
formats, exceptional values. The IEEE-754 standard was a push towards
straightening the field and made formal reasoning about floating-point
computations easier and flourishing. Unfortunately, this is not
sufficient to guarantee the final result of a program, as several
other actors are involved: programming language, compiler, and
architecture. The CompCert formally-verified compiler provides
a solution to this problem: this compiler comes with a mathematical
specification of the semantics of its source language (a large subset
of ISO C99) and target platforms (ARM, PowerPC, x86-SSE2), and with
a proof that compilation preserves semantics. In this paper, we report
on our recent success in formally specifying and proving correct
CompCert’s compilation of floating-point arithmetic. Since CompCert is
verified using the Coq proof assistant, this effort required
a suitable Coq formalization of the IEEE-754 standard; we extended the
Flocq library for this purpose. As a result, we obtain the first
formally verified compiler that provably preserves the semantics of
floating-point programs.</blockquote>

<p>This may be of interest if you want to understand the problems (and
their solutions) one faces when making a compiler support
floating-points operations (correctly, if possible).</p>
</div>
</post>
